body{
    font-family:sans-serif;
    margin: 0px;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: aquamarine;
}

.speechArea{
    width: 500px;
    min-height:10px ;
    margin-top: 10px;
}

.questionDiv{
    background-color:white;
    display: flex;
    padding: 10px;
    border-radius:10px;
    margin-bottom:10px
}

.questionDiv p{
    margin: 0px 10px;
    background-color: bisque;
    border-radius: 10px;
    padding: 10px;
}

.answerDiv{
    background-color:white;
    display: flex;
    padding: 10px;
    border-radius:10px
}

.answerDiv p{
    margin: 0px 10px;
    background-color: bisque;
    border-radius: 10px;
    padding: 10px;
}

.buttonDiv{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.buttonDiv button{
    height: 30px;
    width: 70px;
    border: none;
    background-color:cornflowerblue;
    color: white;
    border-radius: 20px;
    transition:0.5s;
}

.buttonDiv button:hover{
    color:cornflowerblue;
    background-color: white;
    transform: scale(1.1);
}

.history{
    display:flex;
    justify-content:center;
}

.previousActivity{
    width: 480px;
    min-height:10px ;
    margin-top: 10px;
    background-color:white;
    padding:10px;
    border-radius: 10px;
    overflow: auto;
}

.previousActivity p{
    background-color:#d3d3d3;
    padding:10px;
    border-radius: 10px;
}